 Webpack (imports/exports) //Бандлер, т.е. модульный сборщик. Позволяет писать 
 модульный код и связывать его воедино в небольшие пакеты, оптимизируя время загрузки.

    Babel //Babel.JS – это транспайлер, переписывающий код на ES-2015 
    в код на предыдущем стандарте ES5. Он состоит из двух частей:
    Собственно транспайлер, который переписывает код.
    Полифил, который добавляет методы Array.from, String.prototype.repeat и другие.
    Дает возможность писать современный JS-код, который будет успешно работать 
    в старых браузерах.

    Scss //это препроцессор для написания CSS кода. SCSS дает дополнительные 
    возможности. С ним можно использовать переменные, вложенные селекторы и 
    медиазапросы, собирать несколько файлов в один, миксины, наследования и 
    другие полезные вещи которые упростят и структурируют работу с CSS кодом.

    Eslint   //ESLint это крутой инструмент, который позволяет 
    проводить анализ качества вашего кода, написанного на любом
    выбранном стандарте JavaScript. Он приводит код к более-менее 
    единому стилю, помогает избежать глупых ошибок, умеет автоматически 
    исправлять многие из найденных проблем и отлично интегрируется со многими
    инструментами разработки. Кстати, он, как и другие линтеры, не обязывает 
    вас к одному какому-то конкретному стилю.
    Линтер — это программа, которая автоматизирует всю 
    эту возню и сама «причёсывает» код по определённым правилам.
    2 Modes
        - Dev
        Dev Server, //Cервер, который используется для разработки или проверки новинок.
        
        SourceMaps, //это способ связать минифицированный/объединённый файл с файлами, 
         из которых он получился. Во время сборки для боевого окружения помимо 
         минификации и объединения файлов также генерируется файл-маппер, который 
         содержит информацию об исходных файлах. Когда производится обращение к 
         конкретному месту в минифицированном файле, то производится поиск в маппере, 
         по которому вычисляется строка и символ в исходном файле.

        Eslint, 

        Not Minified JS & CSS //Инструмент с помощью которого можно минимизировать 
        как отдельные файлы, так и сгруппировать несколько файлов в один, тем самым 
        сократив количество запросов к серверу.
        
        - Prod
        Minified Code 
 Git //это консольная утилита, для отслеживания и ведения истории изменения файлов, 
 в вашем проекте. Чаще всего его используют для кода, но можно и для других файлов. 
 Например, для картинок - полезно для дизайнеров. С помощью Git-a вы можете откатить 
 свой проект до более старой версии, сравнивать, анализировать или сливать свои 
 изменения в репозиторий. Репозиторием называют хранилище вашего кода и историю 
 его изменений. Git работает локально и все ваши репозитории хранятся в определенных 
 папках на жестком диске.

    Production
        1.0.0
        0 ---------
    Development
        1.0.2
        1 ----------- + --- PR
        2 ----------------- |